In [21]:
import pandas as pd

In [22]:
dataset=pd.read_csv('breastCancer.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
id                   699 non-null int64
clump_thickness      699 non-null int64
size_uniformity      699 non-null int64
shape_uniformity     699 non-null int64
marginal_adhesion    699 non-null int64
epithelial_size      699 non-null int64
bare_nucleoli        699 non-null object
bland_chromatin      699 non-null int64
normal_nucleoli      699 non-null int64
mitoses              699 non-null int64
class                699 non-null int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [23]:
dataset.describe()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bland_chromatin,normal_nucleoli,mitoses,class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [24]:
dataset = dataset.drop(columns=['id'])

In [25]:
dataset.describe(include='all')
#count :-> Count the non- NAN For each column/row the number of non-NA/null entries.
#unique :-> The describe method for numeric columns doesn't list the number of unique values
#std :-> didn't get it sample standard deviation

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699,699.000000,699.000000,699.000000,699.000000
unique,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,402,NaN,NaN,NaN,NaN
mean,4.417740,3.134478,3.207439,2.806867,3.216023,NaN,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,NaN,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,NaN,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,NaN,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,NaN,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,10.000000,10.000000,10.000000,4.000000

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
clump_thickness      699 non-null int64
size_uniformity      699 non-null int64
shape_uniformity     699 non-null int64
marginal_adhesion    699 non-null int64
epithelial_size      699 non-null int64
bare_nucleoli        699 non-null object
bland_chromatin      699 non-null int64
normal_nucleoli      699 non-null int64
mitoses              699 non-null int64
class                699 non-null int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [36]:
dataset = dataset.drop(dataset[dataset.bare_nucleoli == '?'].index)
# I tried to use the "fillna" to fill the nan vlues from the dataframe with the (0) and with the "ffill" method 
# I tried also the dropna to drop the nan vlues from the dataframe
dataset= dataset.astype({'bare_nucleoli':'int64'}) # Just for fun

In [37]:
dataset.describe(include="all")

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 10 columns):
clump_thickness      683 non-null int64
size_uniformity      683 non-null int64
shape_uniformity     683 non-null int64
marginal_adhesion    683 non-null int64
epithelial_size      683 non-null int64
bare_nucleoli        683 non-null int64
bland_chromatin      683 non-null int64
normal_nucleoli      683 non-null int64
mitoses              683 non-null int64
class                683 non-null int64
dtypes: int64(10)
memory usage: 58.7 KB

In [32]:
# Récupérer les features et les variables target
X = dataset.iloc[:,:-1] # select from the first column till the last one
y = dataset['class']

In [42]:
#Utilisez 60% de la donnée pour l'apprentissage et les 40% restants pour le test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, stratify=y)
# stratify :-> If not None, data is split in a stratified fashion, using this as the class labels.

In [59]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

grid_params={
    'n_neighbors':[3,5,7,9,11],
    'metric':['euclidean','manhattan']
}
gs=GridSearchCV(
    KNeighborsClassifier(), 
    grid_params, #Dictionary with parameters names (string) as keys and lists of parameter settings to try as values, or a list of such dictionarie
    verbose=5, #Controls the verbosity: the higher, the more messages we can say the progress of the program
    cv=3,#Cross-validation
    n_jobs=-1 #use all cpus
)
gs_results=gs.fit(X_train, y_train) #didn't understand it how it works

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  23 out of  30 | elapsed:    2.7s remaining:    0.8s
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:    2.8s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:    2.8s finished

In [60]:
gs_results.best_params_

{'metric': 'manhattan', 'n_neighbors': 3}

In [69]:
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier(n_neighbors=3,metric='manhattan') # charger le classificateur KNN
knn.fit(X_train, y_train)#entraîner le modèles
y_pred=knn.predict(X_test) #evaluer le modèles

In [70]:
from sklearn.metrics import precision_score, recall_score
print('precision = ', precision_score(y_test, y_pred,average='weighted'))
print('recall= ', recall_score(y_test,y_pred,average='weighted'))

precision =  0.9854014598540146
recall=  0.9854014598540146

In [55]:
from sklearn.metrics import  confusion_matrix
confusion_matrix(y_test, y_pred)

array([[176,   2],
       [  7,  89]], dtype=int64)